name: Build

on:
  pull_request:
    paths:
      - '.github/workflows/build.yml'
      - 'web/**'
      - '**.go'
      - 'go.mod'
      - 'go.sum'
  push:
    paths:
      - '.github/workflows/build.yml'
      - 'web/**'
      - '**.go'
      - 'go.mod'
      - 'go.sum'
  workflow_dispatch:

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '>=1.25.5'
      - name: Install dependencies
        run: go get .
      - run: mkdir build
      - name: Build linux/386
        run: CGO_ENABLED=0 GOOS=linux GOARCH=386 go build -o build/HamLogHelper-linux_386
      - name: Build linux/amd64
        run: CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -o build/HamLogHelper-linux_amd64
      - name: Build linux/arm
        run: CGO_ENABLED=0 GOOS=linux GOARCH=arm go build -o build/HamLogHelper-linux_arm
      - name: Build linux/arm64
        run: CGO_ENABLED=0 GOOS=linux GOARCH=arm64 go build -o build/HamLogHelper-linux_arm64
      - name: Build linux/riscv64
        run: CGO_ENABLED=0 GOOS=linux GOARCH=riscv64 go build -o build/HamLogHelper-linux_riscv64
      - name: Build windows/386
        run: CGO_ENABLED=0 GOOS=windows GOARCH=386 go build -o build/HamLogHelper-windows_386.exe
      - name: Build windows/amd64
        run: CGO_ENABLED=0 GOOS=windows GOARCH=amd64 go build -o build/HamLogHelper-windows_amd64.exe
      - name: Build windows/arm
        run: CGO_ENABLED=0 GOOS=windows GOARCH=arm go build -o build/HamLogHelper-windows_arm.exe
      - name: Build windows/arm64
        run: CGO_ENABLED=0 GOOS=windows GOARCH=arm64 go build -o build/HamLogHelper-windows_arm64.exe
      - name: Build darwin/amd64
        run: CGO_ENABLED=0 GOOS=darwin GOARCH=amd64 go build -o build/HamLogHelper-darwin_amd64
      - name: Build darwin/arm64
        run: CGO_ENABLED=0 GOOS=darwin GOARCH=arm64 go build -o build/HamLogHelper-darwin_arm64
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: auto-builds
          path: build/

  upload-to-release:
    needs:
      - build
    permissions:
      contents: write
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions/download-artifact@v4
        with:
          name: auto-builds
          path: build/
      - name: Upload
        uses: softprops/action-gh-release@v2
        working-directory: build
        with:
          files: |
            HamLogHelper-linux_386
            HamLogHelper-linux_amd64
            HamLogHelper-linux_arm
            HamLogHelper-linux_arm64
            HamLogHelper-linux_arm64
            HamLogHelper-linux_riscv64
            HamLogHelper-windows_386.exe
            HamLogHelper-windows_amd64.exe
            HamLogHelper-windows_arm.exe
            HamLogHelper-windows_arm64.exe
            HamLogHelper-darwin_amd64
            HamLogHelper-darwin_arm64
